/* Basic global styles */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  